<!DOCTYPE html>
<html>
  <head>

<%# "Get the ID of the currently logged in user. But if there is no user logged in (meaning current_user is nil), then don't try to get the ID and just return nil instead."

The &. is a safe navigation operator in Ruby. It's used to prevent an error that would occur if you try to call a method (like .id) on nil. %>
    <style>
  <%= ".msg-#{current_user&.id}" %> {
  background-color: #007bff !important;
  padding: 10px;
  }
  <%= ".cont-#{current_user&.id}" %> {
  display: flex;
  justify-content: flex-end
  }
</style>

    <title>Chatapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar"%>
    <%= flash.each do |message,message_typ|%>
      <div>
        
      </div>
    <%end%>
    <%= yield %>
  </body>
</html>
